.container{
    background-color: #fff;
    border-radius: 10px;
    margin: 15px auto;
    margin-top: 80px;
    margin-bottom: 15px;
}
.container .header h2 i{
    color: #555;
}
.container .header:after{
    content: '';
    display: table;
    clear: both;
}
.container .detalle{
    font-size: 30px;
}